{% extends 'movies/base.html' %}

{% block title %}Об актере{% endblock %}

{% block content %}
<h1>Об актере Сергее Бурунове</h1>
<p>Сергей Бурунов — популярный российский актер, известный своими ролями в кино и театре.Сергей Бурунов — российский актёр театра, кино, озвучивания и дубляжа, пародист, телеведущий, лауреат премии «ТЭФИ» (2019). Родился 6 марта 1977 года в Москве. Первое высшее образование получил как лётчик-инженер, после чего окончил Высшее театральное училище имени М.С. Щепкина</p>
<p>Он снялся в таких фильмах и сериалах, как «Полицейский с Рублёвки», «Домашний арест», «Ивановы-Ивановы», «Последний богатырь», «Мылодрама», «Пара из будущего», «Содержанки», «Слово пацана. Кровь на асфальте», а также в шоу «Большая разница».</p>
<br>
<p>Бурунов также активно работает в дубляже, озвучивая таких актёров, как Леонардо Ди Каприо, Джонни Депп и Адам Сэндлер, а также персонажей мультфильмов и компьютерных игр.</P>
<p>Всего в его фильмографии — сотни ролей в кино и на телевидении, а также заметные работы в театре и на эстраде. Сергей Бурунов — один из самых востребованных и популярных актёров современной России, обладающий редким сочетанием комедийного и драматического таланта</p>
    {% endblock %}